/* Custom Map Styles */
.leaflet-container {
    width: 100%;
    height: 100%;
    z-index: 10;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.pulsing-marker {
    animation: pulse 1.5s infinite;
    transform-origin: center;
}